@import "../../../../styles.scss";

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;

  .category-container,
  .sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

select {
  width: 200px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  appearance: none;
  background: $primary-background-color;
  color: $second-background-color;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  &:hover {
    cursor: pointer;
  }
}

option {
  font-size: 16px;
  color: $second-background-color;
  background: $button-linear-background-color;
}

option:checked {
  background-color: #98ff8f;
  background: $primary-lighten-background-color;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}
