<div class="container">
  <div class="category-container">
    <label for="category">Category:</label>
    <select id="category" (change)="onCategoryChange($event.target)">
      <option value="all">All</option>
      <option value="nature">Nature</option>
      <option value="cat">Cat</option>
    </select>
  </div>

  <div class="sort-container">
    <label for="sortBy">Sort By:</label>
    <select id="sortBy" (change)="onSortOptionChange($event.target)">
      <option value="priceLowToHigh">Price Low to High</option>
      <option value="priceHighToLow">Price High to Low</option>
      <option value="dateNewToOld">Date New to Old</option>
      <option value="dateOldToNew">Date Old to New</option>
      <option value="alphabeticalAscending">Alphabetical A to Z</option>
      <option value="alphabeticalDescending">Alphabetical Z to A</option>
    </select>
  </div>
</div>
