
<div class="container">
    <div class="about-us-title">
        <app-breadcrumbs></app-breadcrumbs>
        <h1>Discover  <span>BlockGems</span></h1>
    </div>

    <div class="about-us-container">
        <div class="left">
            <h3>ABOUT US</h3>
            <h2>Your Best Gateway <br> to Exceptional </h2>
            <h1>NFT Arts</h1>
            <p>Lorem ipsum dolor consectetur, adipisicing elit. Nostrum voluptatibus,  <br> libero vel molestiae sed similique ea suscipit accusantium qui officiis <br>  sapiente ab inventore, deserunt magnam quis numquam! <br> Ex, adipisci est. Delectus quidem fugiat omnis ad quae repellat <br> consequuntur architecto!  Provident quaerat delectus nesciunt optio.</p>
        </div>
        <div class="right">
            <div class="right__main-img">

                <img src="https://cdn.pixabay.com/photo/2019/08/11/00/46/waterfall-4397970_1280.jpg" alt="">
                <div class="right__second-img">
                    <img src="https://cdn.pixabay.com/photo/2015/09/26/21/33/suspension-bridge-959853_1280.jpg" alt="">
                </div>
                <div class="right__third-img">
                    <img src="https://cdn.pixabay.com/photo/2016/11/08/04/49/jungle-1807476_1280.jpg" alt="">
                </div>
                <div class="right__fourth-img">
                    <h4>10 000+</h4>
                    <p>NFT Artworks Sold</p>
                </div>
            </div>
        </div>
    </div>
</div>