<div class="container">
  <p>FEATURES</p>
  <h1>Featured Artworks</h1>

  <div class="cards-container">
    <div class="card-container" *ngFor="let card of featuresCollection()">
      <div class="card-container__img-box">
        <img [src]="card.img" alt="" />
        <div class="card-container__island">
          <img src="../../../../assets/heart.png" alt="" />
          <p>{{ card.likes }}</p>
        </div>
      </div>
      <div class="card-container__description">
        <h3>{{ card.price }} ETH</h3>
        <h1>{{ card.title }}</h1>
        <p>{{ card.description }}</p>
      </div>
      <div class="card-container__creator">
        <div class="card-container__profile">
          <div class="card-container__creator__img">
            <img
              src="https://images.pexels.com/photos/1704488/pexels-photo-1704488.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <h3>{{ card.creator }}</h3>
        </div>
        <button (click)="addItemToCart(card)">Bid Now</button>
      </div>
    </div>
  </div>
  <a href="#">See all Featured Artworks</a>
</div>
