<div class="container">
  <div class="title-container">
    <div class="title-container__left">
      <p>TEAM</p>
      <h1>
        Meet the <br />
        Expert <span>TEAM</span>
      </h1>
    </div>
    <div class="title-container__right">
      <p>Work with us?</p>
      <a href="#">See Our Career Page</a>
    </div>
  </div>
  <div class="team-container">
    <div
      class="team-container__card"
      *ngFor="let card of getTeamProfilesCollection()"
    >
      <img [src]="card.img" />
      <div class="team-container__card-info">
        <p>{{ card.jobTitle }}</p>
        <h2>{{ card.name }}</h2>
      </div>
    </div>
  </div>
</div>
