<div class="container">
  <div class="logo-container">
    <div class="logo-container__info">
      <div class="logo-container__info--logo">
        <h1>lockGems</h1>
      </div>
      <p>
        Step into the memorizing world of digital NFT <br />
        art, where every pixel is a portal to unparalyzed <br />
        creativity and artistry innovation.
      </p>
    </div>
  </div>

  <div class="links-container">
    <div class="company-container">
      <h2>Company</h2>
      <a routerLink="/about">About Us</a>
      <a routerLink="/about">About NFT</a>
      <a routerLink="/artworks">NFT Artworks</a>
      <a routerLink="/about">User Template</a>
    </div>
    <div class="support-container">
      <h2>Support</h2>
      <a routerLink="/contact">FAQ</a>
      <a routerLink="/contact">How to Buy</a>
      <a routerLink="/contact">Work with Us</a>
      <a routerLink="/contact">Consumer Support</a>
    </div>
    <div class="contact-container">
      <h2>Contact</h2>
      <a>49-167-88-44</a>
      <a>support&#64;lg.com</a>
      <a>&#64;lockgems</a>
      <a>Berlin, Germany</a>
    </div>
  </div>

  <div class="copyright-container">
    <p>Copyright 2024 LockGems. All rights reserved.</p>
  </div>

  <!-- <div class="mail-container">
    <div class="input-container">
      <input type="text" id="input" required="" />
      <label for="input" class="label">Enter Text</label>
      <div class="underline"></div>
    </div>
    <button>Subscribe</button>
  </div> -->
</div>
